<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs') %>
<title>User Request Admin</title>

<body>
    <%- include('../partials/nav.ejs') %>
    <div class="container text-center mt-6">
        <%- include('../partials/alert_box.ejs') %>
        <h1>User Request Admin</h1>
        <p>Click the button below to request admin permission:</p>
        <form action="/request_admin" method="post">
            <button type="submit" class="btn btn-primary">Request Admin Privileges!</button>
        </form>
    </div>
</body>

</html>